.chat-container {
  width: 100%;
  height: 100%;
}

.textboxcontainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
  height: 78px;
  background-color: var(--color-background);
}

.textboxcontainer input {
  width: 100%;
  padding: 12px;
  outline: none;
  font-size: 17px;
  border-radius: 10px;
  background-color: var(--incoming-chat-background-color);
  color: var(--incoming-chat-foreground-color);
  border: none;
}

.textboxcontainer button {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  margin-left: 0.5rem;
}

input:disabled {
  cursor: not-allowed;
}

.textboxcontainer button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}


.messagecontainer {
  width: 100%;
  height: calc(100vh - 160px);
  overflow-y: auto;
  padding: 1.2rem;
}

.messageboxcontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.message {
  padding: 0.4rem 0;
}

.message div {
  border: 1px solid black;
  padding: 0.5rem 1rem;
  width: fit-content;
  max-width: 75vw;
  line-height: 23px;
  text-align: justify;
}

.message.right {
  text-align: right;
  margin-left: auto;
}

.message.left {
  text-align: left;
  margin-right: auto;
}

.message .emoji {
  border: none;
  font-size: 4rem;
  line-height: 48px;
  padding: 0.3rem 0;
}

.message.right .text {
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  border-top-right-radius: 22px;
  border: none;
  background-color: var(--sent-chat-background-color);
  color: var(--sent-chat-foreground-color);
}

.message.left .text {
  text-align: left;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border: none;
  background-color: var(--incoming-chat-background-color);
  color: var(--incoming-chat-foreground-color);
}

.submitButton {
  background-color: var(--sent-chat-background-color);
  color: white;
  border-radius: 10px;
}

.disconnectButton {
  background-color: var(--color-danger);
  color: white;
  border-radius: 10px;
}

.startNewChat {
  background-color: var(--color-blue);
  color: white;
  border-radius: 10px;
}

.connection {
  padding: 0.5rem;
}